# Ignore Python bytecode / cache
__pycache__/
*.pyc

# Ignore environment files containing secrets
.env

# Ignore local database credentials
config/database_secret.py

secret.py

# Ignore dependencies folder
node_modules/
venv/

# Ignore OS system files
.DS_Store
Thumbs.db

log_.txt
log.txt

chat_2.html
chat_2.jss

files/

storage/

road.txt
idk.txt

.vscode/

framework-client